<h1>TITLE GOES HERE BIH</h1>
<%# Displays individiual (self) profile of user if logged in correctly %>
<%# User should be able to edit profile from here to modify information or add (checkbox) corporations to which they are selling thier sould  %>
