<div class="container">
  <header><img src="images/Stupid Simple Logo.svg" class =img-responsive main-image" alt="Logo for SYS.io"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>NAME OF PAGE HERE</h2>

    <div class="content">

    </div>

  <div class="sidebar">
    <h3>Navigation</h3>
        <li><b><a href="/">Home</a></b> </li>
        <li><b><a href="/corporation/index">Our Corporate Partners</a></b></li>
        <li><b><a href="/sucker/<%= @sucker.id %>/">Go to Profile</a></b></li>
        <li><b><a href="/sucker/<%= @sucker.id %>/edit">Edit Profile</a></b></li>
        <li><b><a href="/login">Login</a></b> </li>
        <li><b><a href="/logout">Logout</a></b> </li>
      </ul>
  </div>

  </div>
</div>