<div class="container">
  <header><img src="images/Stupid Simple Logo.svg" class =img-responsive main-image" alt="Logo for SYS.io"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Our Corporate Partners</h2>

    <div class="content">
      <p>Each and every company on the followiung list has been individually vetted by our team to ensure their integrity and commitment to responsible data exploitation. They've committed to strict usage parameters, and negotiated fair rates for our customers, so that you can start making money off yourself today!</p>

      <h4><i>Our Esteemed Partners</i></h4>
      <p>----------------------------------</p>
      <% @corporations.each_with_index do |corp, index| %>
        <li><%= (index + 1) %>.<%= corp.name%></li>
      <% end %>

  <div class="sidebar">
    <h3>Navigation</h3>
        <li><b><a href="/">Home</a></b> </li>
        <li><b><a href="/signup">Signup</a></b>
        <li><b><a href="/corporations">Corporate Partners</a></b></li>
        <li><b><a href="/login">Login</a></b> </li>
        <li><b><a href="/logout">Logout</a></b> </li>
      </ul>
  </div>

  </div>
</div>

