    
<%if logged_in? %>
  <a href="/">Home</a> | <a href="/corporations">Corporate Partners</a> | <a href="/profile">Profile</a> <a href="/logout">Logout</a><br />
<% else %>
  <a href="/">Home</a> | <a href="/corporations">Corporate Partners</a> | <a href="/signup">Signup</a> | <a href="/login">Login</a><br />
<% end %>
