<div class="container">
  <header><img src="images/Stupid Simple Logo.svg" class =img-responsive main-image" alt="Logo for SYS.io"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Home</h2>

    <div class="content">
      <p> <a href="/">SYS.io</a> is working with consumers to take you power back. The DATA economy is here, and somehow we've (human beings) become the goods. Well if anybody is gonna make money off myself, it better be me, and now... <b>IT CAN BE</b></p><br/>
      
    <h4> <a href="/signup">Sign up</a> and take your identity back today!</h4>
    <p> By providing <a href="/">SYS.io</a> with the pertinent information, we create an ad profile with your identity, and then sell you to advertisers for yourself, earning you real buckaroonies!! Your identity is out there, so why arent you making the money off of it!? With <a href="/">SYS.io</a> on your side, you become the master of your identity, selecting who you sell your pretty behind too, cutting out nameless faceless Facebook and its mission to conquer the world by knowing all our dirtiest secrets.</p><br>
    </div>

  <div class="sidebar">
    <h3>Navigation</h3>
        <li><b><a href="/">Home</a></b> </li>
        <li><b><a href="/signup">Signup</a></b>
        <li><b><a href="/corporation/index">Corporate Partners</a></b></li>
        <li><b><a href="/login">Login</a></b> </li>
        <li><b><a href="/logout">Logout</a></b> </li>
      </ul>
  </div>

  </div>
</div>


