<!doctype html>
<html>
  <head><style> {text-align: center;} </style>
    <title>SYS.io : Take the Power Back</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
    <div class="container">
      <h1>SYS.io</h1>
      <h6><i>Take your power back</i></h6>
      <h6><i>==============================</i></h6>
      <br>
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <footer> Copyright &copy; 2021 <a href="https://www.copyright.gov/title17/"> The United States of Ameerica Man, so don't mess with me</a>
    
  </body>
</html>