<div class="container">
  <header><img src="images/Stupid Simple Logo.svg" class =img-responsive main-image" alt="Logo for SYS.io"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Create a new User</h2>

    <div class="content">
    <p>Please fill out the form below as completely as you can! Not every field is required, but the more information you provide, the higher payout you will recieve that information. Minimum information required is: <i>User Name, First Name, Last Name, Email & Password</i></p>
    

      <form action="/signup" method="POST">
        <p><i>required fields</i></p>
        <p>First Name:<input type="text" name="sucker[first_name]" id="first_name" placeholder="First Name" ><br></p>
        <p>Last Name:<input type="text" name="sucker[last_name]" id="last_name" placeholder="Last Name" ><br></p>
        <p>Email:<input type="text" name="sucker[primary_email]" id="primary_email" placeholder="Email" ><br></p>
        <p>Username:<input type="text" name="sucker[username]" id="username" placeholder="Username" required><br></p>
        <p>Password:<input type="text" name="sucker[password]" id="password" placeholder="Password" ><br></p>
        <p><i>additional fields</i><br>
        <p>Middle Name:<input type="text" name="sucker[middle_name]" id="middle_name" placeholder="Middle Name" ><br></p>
        <p>Maiden Name:<input type="text" name="sucker[maiden_name]" id="maiden_name" placeholder="Maiden Name"><br></p>
        <p>Pseudonym:</p><input type="text" name="sucker[pseudonym]" id="pseudonym" placeholder="Pseudonym"><br></p>
        <p>Alias:<input type="text" name="sucker[alias]" id="alias" placeholder="Alias"><br></p>
        <p>Cell-Phone:<input type="text" name="sucker[cell_phone_number]" id="cell_phone_number" placeholder="Cell Phone Number" ><br></p>
        <p>Home-Phone:<input type="text" name="sucker[home_phone_number]" id="home_phone_number" placeholder="Home Phone"><br></p>
        <p>Primary Address:<input type="text" name="sucker[address_one]" id="address_one" placeholder="Address(Primary)" ><br></p>
        <p>Secondary Address:<input type="text" name="sucker[address_two]" id="address_two" placeholder="Address(Secondary)"><br></p>
        <p>P.O. Box:<input type="text" name="sucker[p_o_box]" id="p_o_box" placeholder="PO Box"><br></p>
        <p>Secondary Email:<input type="text" name="sucker[secondary_email]" id="secondary_email" placeholder="Email 2" ><br></p>
        <p>Spam Email:<input type="text" name="sucker[spam_email]" id="spam_email" placeholder="Spam Email" ><br></p>
        <p>Yearly Income:<input type="text" name="sucker[yearly_income]" id="yearly_income" placeholder="Income (annually)" ><br></p>
        <p>Social Security Number:<input type="text" name="sucker[social_security_number]" id="social_security_number" placeholder="Social Security Number"><br></p>
        <p>Primary Bank:<input type="text" name="sucker[primary_bank]" id="primary_bank" placeholder="Primary Bank"><br></p>
        <p>Credit Score:<input type="text" name="sucker[credit_score]" id="credit_score" placeholder="Credit Score"><br></p>
        <p>Relationship Status:<input type="text" name="sucker[relationship_status]" id="relationship_status" placeholder="Relationship Status"><br></p>
        <p>Employment Status:<input type="text" name="sucker[employment_status]" id="employment_status" placeholder="Employment Status" ><br></p>
        <p>Employer:<input type="text" name="sucker[employer]" id="employer" placeholder="Employer" ><br></p>
        <p>Catch Phrase:<input type="text" name="sucker[catch_phrase]" id="catch_phrase" placeholder="Catchphrase" ><br></p>
        <p>Political Affiliation:<input type="text" name="sucker[political_affiliation]" id="political_affiliation" placeholder="Political Affiliation" ><br></p>
        <p>Belief System or Religion:<input type="text" name="sucker[belief_religion]" id="belief_religion" placeholder="Religious Association"><br></p>
        <p>Interests:<input type="text" name="sucker[interests]" id="interests" placeholder="interests" ><br></p>
        <p>Additional Information:<input type="text" name="sucker[additional_details_one]" id="additional_details_one" placeholder="More Info" ><br></p>
        <p>More Additional Information:<input type="text" name="sucker[additional_details_two]" id="additional_details_two" placeholder="Even More Info"><br></p>     

        <br><h4>Check each box next to the company whom you would like to send your information.</h4>
        <p><i>The more you check the more you get paid</i></p>
          <% @corporations.each do |company| %>
            <input type="checkbox" name="sucker[corporations[]]" id="<%=company.id%>" value="<%=company.id%>" > <label for="<%=company.id%>"><%=company.name%></label><br>
          <% end %><br>  
        <h6>By submitting the form below you agree to <a href="/termsandconditions">our terms of service</a></h6><br>
      <input type="submit" value="Create Account"><br>
      

      <button >
</form>
    </div>

  <div class="sidebar">
    <h3>Navigation</h3>
        <li><b><a href="/">Home</a></b> </li>
        <li><b><a href="/signup">Signup</a></b>
        <li><b><a href="/corporations">Corporate Partners</a></b></li>
        <li><b><a href="/login">Login</a></b> </li>
        <li><b><a href="/logout">Logout</a></b> </li>
      </ul>
  </div>

  </div>
</div>