<div class="container">
  <header><img src="images/Stupid Simple Logo.svg" class =img-responsive main-image" alt="Logo for SYS.io"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Login</h2>
    <%= erb :"_navigation" %><br>

    <div class="content">
      <form action="/login" method="POST">
      <input type="text" name="username" id="username" placeholder="Username"><br>
      <input type="password" name="password" id="password" placeholder="Password">
      <button type="submit">Log In</button><br><br>
      <a href="/signup">Don't have an account?</a>
    </div>
  </div>
</div>

